{% extends 'main/base.html' %}
{% load static %}
{% block main %}
    <main>
        <div class="container my-3">
            <div class="row mb-5">
                <div class="col-5">
                    <img class='img-fluid' src="{{ gadget.photo.url }}" alt="">
                </div>
                <div class="col-7">
                    <h2 style="font-size: 30px" class="mt-3 mb-3 text-left">{{ gadget.name }}</h2>
                    <p>Рейтинг устройства: <strong>{{ average_rating }} / 5</strong> ({{ based_on }})</p>
                    <p style="font-size: 30px"><strong>Цена:</strong> ${{ gadget.price }}</p>
                </div>
            </div>
            <h2 class="mb-5">Отзывы:</h2>
            {% if gadget.reviews %}
                {% for review in gadget.reviews %}
                    <strong>{{ review.author }}</strong>
                    <span>{{ review.date }}</span>
                    <p>Оценка: <strong>{{ review.rating }}</strong></p>
                    <p>{{ review.text }}</p>
                    <hr>
                {% endfor %}
            {% else %}
                <p>Отзывов пока нет</p>
            {% endif %}


        </div>
    </main>
{% endblock %}